@import 'variables.sass'

@keyframes appear
  to
    opacity: 1
    transform: translateX(0px)

.cities
  width: 500px
  padding-top: 55px
  .cities-list
    margin-top: 20px
    border: 1px solid rgba(255, 255, 255, 0.2)
    border-radius: 10px
    ul
      margin: 0
      border-radius: 10px
      padding-left: 0
      height: 560px
      li
        list-style-type: none
        font-size: 1rem
        display: flex
        justify-content: space-between
        align-items: flex-end
        padding: 30px 15px
        transform: translateX(-10px)
        border-radius: 10px
        opacity: 0
        animation: 0.3s appear forwards
        &:hover
          cursor: pointer
        &.selected
          background-color: $highlighted-background
          .name-region
            .name, .region
              color: $primary-color
          .coordinates
            color: $primary-color
        .name-region
          height: 100%
          display: flex
          flex-direction: column
        .name-region .name
          font-size: 1.6rem
          font-weight: bold
        .name-region .region
          font-size: 1.2rem
          color: $lighter-primary-text
        .coordinates
          font-size: 1rem
          color: $lighter-primary-text
        .remove
          position: absolute
          right: 15px
          top: 15px
          width: 30px
          height: 30px
          display: flex
          justify-content: center
          align-items: center
          border-radius: 50%
          color: $light-danger-color
          transition: 0.3s background-color ease
          &:hover
            cursor: pointer
            background-color: $light-danger-color
            color: $danger-color
  .pagination
    display: flex
    justify-content: space-between
    align-items: center
    padding: 30px 0px
    button
      color: $primary-text
      font-size: 1.2rem
      display: flex
      align-items: center
      padding: 15px
      border: none
      outline: none
      background-color: transparent
      border-radius: 10px
      transition: 0.3s background-color ease
      &:hover
        cursor: pointer
        background-color: $lighter-highlighted-background
        color: $primary-color
      &:disabled
        color: $lighter-primary-text
        &:hover
          background-color: transparent
          cursor: default
