@keyframes appear {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.search{
    width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
}

.search .bar{
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search .bar input{
    padding: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    background-color: transparent;
    flex-grow: 1;
}

.search .bar input:focus{
    border: none;
    outline: none;
}

.search ul{
    margin: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 0;
}

.search ul li{
    list-style-type: none;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    transform: translateY(10px);
    opacity: 0;
    animation: 0.3s appear forwards;
}

.search ul li:hover{
    cursor: pointer;
}

.search ul li:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search ul li .name-region{
    display: flex;
    flex-direction: column;
}

.search ul li .name-region .name{
    font-size: 1rem;
}

.search ul li .name-region .region{
    font-size: 0.8rem;
    color: #999;
}

.search ul li .coordinates{
    font-size: 0.8rem;
    color: #999;
}

.search ul li.selected{
    background-color: rgba(255, 255, 255, 0.15);
}

.search ul li.selected .name{
    text-decoration: underline;
}